apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: "{{ namespc }}"
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      securityContext:
        fsGroup: 1001
      containers:
        - name: redis
          image: "{{ acr_login_server }}/redis:cp2"
          ports:
            - containerPort: 6379
          env:
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
            - name: REDIS_AOF_ENABLED
              value: "yes"
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
          volumeMounts:
            - mountPath: /bitnami
              name: redis-storage
      volumes:
        - name: redis-storage
          persistentVolumeClaim:
            claimName: "{{ prefix }}-pvc"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: "{{ namespc }}"
  labels:
    app: backend
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: backend