apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ backend.name }}-deployment"
  namespace: "{{ namespc }}"
  labels:
    app: "{{ backend.name }}"
spec:
  replicas: {{ backend.replicas }}
  selector:
    matchLabels:
      app: "{{ backend.name }}"
  template:
    metadata:
      labels:
        app: "{{ backend.name }}"
    spec:
      securityContext:
        fsGroup: 1001
      containers:
        - name: "{{ backend.image }}"
          image: "{{ acr_login_server }}/{{ backend.image }}:{{ app_tag }}"
          ports:
            - containerPort: {{ backend.port }}
          env:
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
            - name: REDIS_AOF_ENABLED
              value: "yes"
          resources:
            limits:
              memory: "{{ backend.resources.limits.memory }}"
              cpu: "{{ backend.resources.limits.cpu }}"
            requests:
              memory: "{{ backend.resources.requests.memory }}"
              cpu: "{{ backend.resources.requests.cpu }}"
          volumeMounts:
            - mountPath: /bitnami
              name: "{{ backend.name }}-storage"
      volumes:
        - name: "{{ backend.name }}-storage"
          persistentVolumeClaim:
            claimName: "{{ prefix }}-pvc"
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ backend.name }}"
  namespace: "{{ namespc }}"
  labels:
    app: "{{ backend.name }}"
spec:
  type: "{{ backend.service_type }}"
  ports:
    - port: {{ backend.port }}
      targetPort: {{ backend.port }}
  selector:
    app: "{{ backend.name }}"