apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: "{{ namespc }}"
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: azure-vote-front
          image: "{{ acr_login_server }}/azure-vote-front:cp2"
          ports:
            - containerPort: 80
          env:
            - name: REDIS
              value: "backend"
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: "{{ namespc }}"
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: frontend