apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ frontend.name }}-deployment"
  namespace: "{{ namespc }}"
  labels:
    app: "{{ frontend.name }}"
spec:
  replicas: {{ frontend.replicas }}
  selector:
    matchLabels:
      app: "{{ frontend.name }}"
  template:
    metadata:
      labels:
        app: "{{ frontend.name }}"
    spec:
      containers:
        - name: "{{ frontend.name }}"
          image: "{{ acr_login_server }}/{{ frontend.image }}:{{ app_tag }}"
          ports:
            - containerPort: {{ frontend.port }}
          env:
            - name: REDIS
              value: "{{ backend.name }}"
          resources:
            limits:
              memory: "{{ frontend.resources.limits.memory }}"
              cpu: "{{ frontend.resources.limits.cpu }}"
            requests:
              memory: "{{ frontend.resources.requests.memory }}"
              cpu: "{{ frontend.resources.requests.cpu }}"
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ frontend.name }}"
  namespace: "{{ namespc }}"
spec:
  type: "{{ frontend.service_type }}"
  ports:
    - port: {{ frontend.port }}
      targetPort: {{ frontend.port }}
  selector:
    app: "{{ frontend.name }}"